{% extends "layout.html" %}
{% block content %}
    {% load static %}
    <header>
        <hgroup>
            <h1>Francisco Franco</h1>
            <h4>
                <strong>Desarrollador Web</strong>
            </h4>
        </hgroup>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <article>
                            <header>
                                <h2>
                                    <span class="material-symbols-outlined">person</span>
                                    Perfil
                                </h2>
                            </header>
                            <div>
                                <p>
                                    Ingeniero electrónico apasionado por la tecnologia, especialmente la programación.
                                    Enfocado en el desarrollo de software, buena trayectoria con Python y el ultimo año incursionando en Js.
                                    Interesado en seguir creciendo personal y profesionalmente.
                                </p>
                                <p>
                                    En el ultimo año me he desempeñado como DBA realizando mantenimiento de la BBDD y
                                    automatizando procesos para agilizar el manejo y generación de documentos.
                                </p>
                            </div>
                        </article>
                        <article>
                            <header>
                                <h2>
                                    <span class="material-symbols-outlined">work</span>
                                    Experiencia
                                </h2>
                            </header>
                            <div>
                                <h3>Administrador de base de datos, Ibagué</h3>
                                <p>
                                    <time datetime="2022/02/01">Febrero 2022 - Febrero 2023</time>
                                </p>
                                <p>
                                    Estandarice el diseño de formularios, depure campos de las tablas de la BBDD,
                                    adecue parte del proceso para el soporte fisico de documentación, arregle problemas de
                                    compatibilidad y forme parte del proceso de certificación INVIMA de la compañia,
                                    principalmente en lo referente al tratamiento de datos.
                                </p>
                                <p>Responsabilidades:</p>
                                <ul>
                                    <li>Administrar la BBDD.</li>
                                    <li>Implementar tecnologías que permitan mejorar el flujo de los procesos.</li>
                                    <li>Capacitar personal en el uso de las nuevas tecnologias implementadas.</li>
                                    <li>Detectar tareas donde la automatización sea viable y optimice el tiempo de los procesos.</li>
                                    <li>Solucionar problemas esporadicos y plantear procesos en caso de falla del sistema.</li>
                                    <li>Mantener la integridad y disponibilidad de los datos.</li>
                                    <li>Definir y realizar el protocolo para los backups y recuperación de desastres.</li>
                                </ul>
                                <p>Stack de tecnologias:</p>
                                <p>Python, SQL, XML, CSV.</p>
                                <p>Herramientas:</p>
                                <p>Excel, Code: Visual Code, Access, PostgreSQL.</p>
                            </div>
                        </article>
                        <article>
                            <header>
                                <h2>
                                    <span class="material-symbols-outlined">school</span>
                                    Educación
                                </h2>
                            </header>
                            <div>
                                <h3>Ingeniero Electrónico, Universidad de Ibagué, Ibagué, Colombia</h3>
                                <p>
                                    <time datetime="2022/11/30">Febrero 2017 - Noviembre 2022</time>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <aside>
                            <nav>
                                <h3>Detalles</h3>
                                <address>
                                    <ul>
                                        <li>Ibagué</li>
                                        <li>Colombia</li>
                                        <li>
                                            <a href="mailto:electron.eng.francisco@gmail.com">electron.eng.francisco@gmail.com</a>
                                        </li>
                                    </ul>
                                </address>
                            </nav>
                            <nav>
                                <h3>Idiomas</h3>
                                <ul>
                                    <li>Español (Nativo)</li>
                                    <li>
                                        Ingles (B1)
                                    </li>
                                </ul>
                            </nav>
                            <nav>
                                <h3>
                                    Links
                                </h3>
                                <ul class="list-group list-group-horizontal list-unstyled">
                                    <li class="m-1">
                                        <a href="https://www.linkedin.com/in/francisco-javier-franco-bele%C3%B1o-a19270253/"
                                           target="_blank">
                                            <img src="{% static "icons/linkedin-in.svg" %}"
                                                 alt="Linkedin"
                                                 height="30"
                                                 width="30"
                                                 class="bg-primary borde"/>
                                        </a>
                                    </li>
                                    <li class="m-1">
                                        <a href="https://github.com/EE-Francisco" target="_blank">
                                            <img src="{% static "icons/github.svg" %}"
                                                 alt="Github"
                                                 height="30"
                                                 width="30"
                                                 class="bg-primary borde"/>
                                        </a>
                                    </li>
                                    <li class="m-1">
                                        <a href="https://portfolio-vq2p.onrender.com/" target="_blank">
                                            <img src="{% static "icons/public.svg" %}"
                                                 alt="Web page"
                                                 height="30"
                                                 width="30"
                                                 class="bg-primary borde"/>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav>
                                <h3>
                                    Habilidades
                                </h3>
                                <ul>
                                    <li>
                                        Python - Django
                                    </li>
                                    <li>
                                        SQL - Access - PostgreSQL - MySQL
                                    </li>
                                    <li>
                                        Git
                                    </li>
                                    <li>
                                        AWS
                                    </li>
                                    <li>
                                        HTML5
                                    </li>
                                    <li>
                                        CSS - Bootstrap
                                    </li>
                                    <li>
                                        JS - React - Redux
                                    </li>
                                    <li>
                                        Ofimatica
                                    </li>
                                    <li>
                                        G-Suit
                                    </li>
                                    <li>
                                        Desarrollo web
                                    </li>
                                    <li>
                                        APIs
                                    </li>
                                    <li>
                                        CMD
                                    </li>
                                </ul>
                            </nav>
                            <nav>
                                <h3>
                                    Conocimiento básico
                                </h3>
                                <ul>
                                    <li>
                                        Tailwind CSS
                                    </li>
                                    <li>
                                        Postman
                                    </li>
                                    <li>
                                        Photoshop - Illustrator
                                    </li>
                                    <li>
                                        Analisis de datos - Aprendizaje automatico - Power BI - Excel
                                    </li>
                                    <li>
                                        Telecomunicaciones
                                    </li>
                                    <li>
                                        Java
                                    </li>
                                    <li>
                                        C, C++, C#
                                    </li>
                                    <li>
                                        PHP
                                    </li>
                                    <li>
                                        Arduino
                                    </li>
                                    <li>
                                        Assembler
                                    </li>
                                    <li>
                                        VBA
                                    </li>
                                    <li>
                                        MatLab
                                    </li>
                                    <li>
                                        Octopus
                                    </li>
                                    <li>
                                        Labview
                                    </li>
                                </ul>
                            </nav>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
